<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>zahls</name>
    <displayName><![CDATA[zahls.ch]]></displayName>
    <version><![CDATA[1.6.10]]></version>
    <description><![CDATA[Accept payments using    zahls Payment gateway]]></description>
    <author><![CDATA[zahls.ch]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
